@using Microsoft.AspNetCore.Identity
@using ParkMate.Infrastructure.Identity
@model Result<ParkingSpaceViewModel> 
@inject SignInManager<ParkMateUser> SignInManager
@inject UserManager<ParkMateUser> UserManager


@{
    ViewData["Title"] = "Parking Space Details";
    var space = Model.Payload;
}

@section Styles
{
    <link href="@Url.Content("~/css/ViewParkingSpace.css")" rel="stylesheet" type="text/css"/>
}

@{
    if (!Model.Success)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Message
        </div>
    } else {
        <div>
            <div class="row">
                <div class="col-md mb-5">
                    <img src="/imageuploads/@space.ImageURL" id="featureImage" class="shadow-lg rounded" alt="No Image">
                </div>
                <div class="col-md">
                    <div class="mb-5">
                        @if (UserManager.GetUserId(User) == Model.Payload.OwnerId)
                        {
                            <a class="btn btn-link float-right" asp-controller="MyParkingSpaces" asp-action="EditDescription" asp-route-parkingSpaceId="@space.ParkingSpaceId"><i class="far fa-edit"></i></a>
                        }
                        <h2 class="text-center mb-2">@space.Title</h2>
                        <hr/>
                        <p>@space.Description</p>
                    </div>

                    <div class="mb-5">
                        @if (SignInManager.IsSignedIn(User) && (UserManager.GetUserId(User) == Model.Payload.OwnerId))
                        {
                            <a class="btn btn-link float-right" asp-controller="MyParkingSpaces" asp-action="EditAddress" asp-route-parkingSpaceId="@space.ParkingSpaceId"><i class="far fa-edit"></i></a>
                        }
                        <h6>Address</h6>
                        <hr/>
                        <p>@space.Street, @space.City </p>
                        <p>@space.State, @space.Zip</p>
                    </div>

                    <div class="mb-5">
                        @if (SignInManager.IsSignedIn(User) && (UserManager.GetUserId(User) == Model.Payload.OwnerId))
                        {
                            <a class="btn btn-link float-right" asp-controller="MyParkingSpaces" asp-action="EditBookingRate" asp-route-parkingSpaceId="@space.ParkingSpaceId"><i class="far fa-edit"></i></a>
                        }
                        <h6>Rates</h6>
                        <hr/>
                        <div class="row">
                            <div class="col">
                                <p>Hourly: $@space.HourlyRate</p>
                            </div>
                            <div class="col">
                                <p>Daily: $@space.DailyRate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr/>
            @if (SignInManager.IsSignedIn(User) && (UserManager.GetUserId(User) == Model.Payload.OwnerId))
            {
                <a class="btn btn-link float-right" asp-controller="MyParkingSpaces" asp-action="EditAvailability" asp-route-parkingSpaceId="@space.ParkingSpaceId"><i class="far fa-edit"></i></a>
            }
            <h5 class="card-title">Availability</h5>
            
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col" class="text-center">Is Available?</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Monday</th>
                    <td class="text-center">@if (space.Monday.IsAvailable)
                        {
                            <i class='far fa-calendar-check'></i>
                        }</td>
                    <td><p>@space.Monday.AvailableFrom.ToString(@"hh\:mm")</p></td>
                    <td><p> @space.Monday.AvailableTo.ToString(@"hh\:mm")</p></td>
                </tr>
                <tr>
                    <th scope="row">Tuesday</th>
                    <td class="text-center">@if (space.Tuesday.IsAvailable)
                        {
                            <i class='far fa-calendar-check'></i>
                        }</td>
                    <td><p>@space.Tuesday.AvailableFrom.ToString(@"hh\:mm")</p></td>
                    <td><p> @space.Tuesday.AvailableTo.ToString(@"hh\:mm")</p></td>
                </tr>
                <tr>
                    <th scope="row">Wednesday</th>
                    <td class="text-center">@if (space.Wednesday.IsAvailable)
                        {
                            <i class='far fa-calendar-check'></i>
                        }</td>
                    <td><p>@space.Wednesday.AvailableFrom.ToString(@"hh\:mm")</p></td>
                    <td><p> @space.Wednesday.AvailableTo.ToString(@"hh\:mm")</p></td>
                </tr>
                <tr>
                    <th scope="row">Thursday</th>
                    <td class="text-center">@if (space.Thursday.IsAvailable)
                        {
                            <i class='far fa-calendar-check'></i>
                        }</td>
                    <td><p>@space.Thursday.AvailableFrom.ToString(@"hh\:mm")</p></td>
                    <td><p> @space.Thursday.AvailableTo.ToString(@"hh\:mm")</p></td>
                </tr>
                <tr>
                    <th scope="row">Friday</th>
                    <td class="text-center">@if (space.Friday.IsAvailable)
                        {
                            <i class='far fa-calendar-check'></i>
                        }</td>
                    <td><p>@space.Friday.AvailableFrom.ToString(@"hh\:mm")</p></td>
                    <td><p> @space.Friday.AvailableTo.ToString(@"hh\:mm")</p></td>
                </tr>
                <tr>
                    <th scope="row">Saturday</th>
                    <td class="text-center">@if (space.Saturday.IsAvailable)
                        {
                            <i class='far fa-calendar-check'></i>
                        }</td>
                    <td><p>@space.Saturday.AvailableFrom.ToString(@"hh\:mm")</p></td>
                    <td><p> @space.Saturday.AvailableTo.ToString(@"hh\:mm")</p></td>
                </tr>
                <tr>
                    <th scope="row">Sunday</th>
                    <td class="text-center">@if (space.Sunday.IsAvailable)
                        {
                            <i class='far fa-calendar-check'></i>
                        }</td>
                    <td><p>@space.Sunday.AvailableFrom.ToString(@"hh\:mm")</p></td>
                    <td><p> @space.Sunday.AvailableTo.ToString(@"hh\:mm")</p></td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <br/>
        <button class="btn btn-lg btn-primary mb-3 w-100" id="bookingButton" data-toggle="modal" data-target="#bookingModal">Place a booking</button>
        <br/>
        
        <div>
            @if (SignInManager.IsSignedIn(User) && (UserManager.GetUserId(User) == Model.Payload.OwnerId))
            {
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary w-100" asp-controller="MyParkingSpaces"
                           asp-action="SetVisibility" asp-route-parkingSpaceId="@space.ParkingSpaceId" asp-route-isAvaliable="@space.IsVisible">
                            @(space.IsVisible ? "Unlist" : "List")
                        </a>
                    </div>
                    <div class="col">
                    <a class="btn btn-danger col w-100" asp-controller="MyParkingSpaces"
                       asp-action="DeleteParkingSpace" asp-route-parkingSpaceId="@space.Id">Delete</a>
                    </div>
                </div>
            }
            
        </div>
        <div class="clearfix"></div>
    }
}

@Html.Partial("_BookingModalPartial", new CreateBookingViewModel())

@section Scripts
{
    <partial name="_DateTimePicker"/>
    <script>
        $(document).ready(function() {
            $('input[type="checkbox"]').click(function(e) {
                e.preventDefault();
                e.stopPropagation();
            });

            $.get('@Url.Action("CustomerVehicles", "MyVehicles")',
                function(data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#vehicle-select').append('<option ' +
                            'value="' +
                            data[i].vehicleId +
                            '">' +
                            data[i].colour +
                            ' ' +
                            data[i].make +
                            ' ' +
                            data[i].model +
                            ' - ' +
                            data[i].registration +
                            '</option>');
                    }
                });

            $('#parkingSpaceId').val('@space.ParkingSpaceId');
        });

        var startFP = flatpickr("#Start",
            {
                enableTime: true,
                altInput: true,
                altFormat: "d-m-Y H:i",
                minDate: "today",
                disable: [
                    function(date) {
                        return (getDaysOfWeek().includes(date.getDay()));
                    }
                ],
                onClose: function(selectedDates, dateStr, instance) {
                    endFP.set("minDate", dateStr);
                    endFP.jumpToDate(dateStr);
                }
            });
        var endFP = flatpickr("#End",
            {
                enableTime: true,
                altInput: true,
                altFormat: "d-m-Y H:i",
                disable: [
                    function(date) {
                        return (getDaysOfWeek().includes(date.getDay()));
                    }
                ],
                onClose: function(selectedDates, dateStr, instance) {
                    updateRate();
                }
            });
        
        function updateRate() {
            var startObj = startFP.parseDate(startFP.selectedDates[0], 'd-m-Y H:i');
            var endObj = endFP.parseDate(endFP.selectedDates[0], 'd-m-Y H:i');
            var dateDiff = endObj - startObj;
            var dateDiff = dateDiff / 1000/ 60 / 60;
            $('#rate').val(dateDiff > 24 ? @space.DailyRate : @space.HourlyRate);
        }

        function getDaysOfWeek() {
            var disabled = [];
            var True = true;
            var False = false;
            var sunday = @Model.Payload.Sunday.IsAvailable;
            var monday = @Model.Payload.Monday.IsAvailable;
            var tuesday = @Model.Payload.Tuesday.IsAvailable;
            var wednesday = @Model.Payload.Wednesday.IsAvailable;
            var thursday = @Model.Payload.Thursday.IsAvailable;
            var friday = @Model.Payload.Friday.IsAvailable;
            var saturday = @Model.Payload.Saturday.IsAvailable;

            if (sunday === false) {
                disabled.push(0);
            }
            if (monday === false) {
                disabled.push(1);
            }
            if (tuesday === false) {
                disabled.push(2);
            }
            if (wednesday === false) {
                disabled.push(3);
            }
            if (thursday === false) {
                disabled.push(4);
            }
            if (friday === false) {
                disabled.push(5);
            }
            if (saturday === false) {
                disabled.push(6);
            }

            return disabled;
        }
    </script>
}