@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@model Result<ParkingSpaceViewModel> 
@{
    ViewData["Title"] = "Parking Space Details";
    var space = Model.Payload;
}

<h1>@ViewData["Title"]</h1>

@{
    if (!Model.Success)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Message
        </div>
    } else {
        <div>
            <div class="card">
                <div class="card-body">
                    @* Check if UserId == space.OwnerId *@
                    <a class="btn btn-primary float-right owner-only" asp-controller="MyParkingSpaces" asp-action="EditDescription" asp-route-id="@space.Id">Edit</a>
                    <h5 class="card-title">Description</h5>
                    <h6 class="card-text">@space.Title</h6>
                    <p class="card-text">@space.Description</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    @* Check if UserId == space.OwnerId *@
                    <a class="btn btn-primary float-right owner-only" asp-controller="MyParkingSpaces" asp-action="EditAddress" asp-route-id="@space.Id">Edit</a>
                    <h5 class="card-title">Address</h5>
                    <p class="card-text">Street: @space.Street</p>
                    <p class="card-text">City: @space.City</p>
                    <p class="card-text">State: @space.State</p>
                    <p class="card-text">Postcode: @space.Zip</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    @* Check if UserId == space.OwnerId *@
                    <a class="btn btn-primary float-right owner-only" asp-controller="MyParkingSpaces" asp-action="EditBookingRate" asp-route-id="@space.Id">Edit</a>
                    <h5 class="card-title">Booking Rate</h5>
                    <p class="card-text">Hourly Rate: @space.HourlyRate</p>
                    <p class="card-text">Daily Rate: @space.DailyRate</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    @* Check if UserId == space.OwnerId *@
                    <a class="btn btn-primary float-right owner-only" asp-controller="MyParkingSpaces" asp-action="EditAvailableTimes" asp-route-id="@space.Id">Edit</a>
                    <h5 class="card-title">Availability Times</h5>
                    <p class="card-text">Available From: @space.Monday.AvailableFrom</p>
                    <p class="card-text">Available To: @space.Monday.AvailableTo</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    @* Check if UserId == space.OwnerId *@
                    <a class="btn btn-primary float-right owner-only" asp-controller="MyParkingSpaces" asp-action="EditAvailableDays" asp-route-id="@space.Id">Edit</a>
                    <h5 class="card-title">Availability</h5>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="@space.Monday.IsAvailable" class="custom-control-input" type="checkbox"/>
                        <label class="custom-control-label">Monday</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="@space.Tuesday.IsAvailable" class="custom-control-input" type="checkbox"/>
                        <label class="custom-control-label">Tuesday</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="@space.Wednesday.IsAvailable" class="custom-control-input" type="checkbox"/>
                        <label class="custom-control-label">Wednesday</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="@space.Thursday.IsAvailable" class="custom-control-input" type="checkbox"/>
                        <label class="custom-control-label">Thursday</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="@space.Friday.IsAvailable" class="custom-control-input" type="checkbox"/>
                        <label class="custom-control-label">Friday</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="@space.Saturday.IsAvailable" class="custom-control-input" type="checkbox"/>
                        <label class="custom-control-label">Saturday</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="@space.Sunday.IsAvailable" class="custom-control-input" type="checkbox"/>
                        <label class="custom-control-label">Sunday</label>
                    </div>
                </div>
            </div>
        </div>
    
    
        <br/>
        <a class="btn btn-primary float-right owner-only" asp-controller="MyParkingSpaces"
           asp-action="SetVisibility" asp-route-parkingSpaceId="@space.Id" asp-route-isAvaliable="@(!space.IsVisible)">
            @(@space.IsVisible ? "Unlist" : "List") 
        </a>
        <a class="btn btn-danger float-right owner-only" asp-controller="MyParkingSpaces"
           asp-action="DeleteParkingSpace" asp-route-parkingSpaceId="@space.Id">Delete</a>
            <br/>
        }
}

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('input[type="checkbox"]').click(function(e) {
                e.preventDefault();
                e.stopPropagation();
            });
        });
    </script>
}


