@model Web.Models.CreateBookingViewModel;

@{
    ViewData["Title"] = "Create a Booking";
}

<!-- Date/time selector and select menu for user's car -->
<h1>Create a Booking</h1>

<div>
    @if (!Model.Customer.Success)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Customer.Message
        </div>
    }
</div>

<div>
    @if (!Model.ParkingSpace.Success)
    {
        <div class="alert alert-danger" role="alert">
            @Model.ParkingSpace.Message
        </div>
    }
</div>



<form method="post" enctype="multipart/form-data" id="booking-form">
    <div class="form-group">
        <label for="booking-date">Booking Date</label>
        <input type="date" id="booking-date "name="booking-date" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="car-select">Vehicle</label>
        <select name="car-select" class="form-control" id="car-select">
            @{
                if (Model.Customer.Success)
                {
                    if (Model.Customer.PayLoad.Vehicles.Count == 0)
                    {
                        <option disabled="disabled">No vehicles found</option>
                    }
                    else
                    {
                        foreach (var vehicle in Model.Customer.PayLoad.Vehicles)
                        {
                            <option value="@vehicle.Id">@vehicle.Model - @vehicle.Registration</option>
                        }
                    }
                }
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
