@using ApplicationServices.Enums;
@model Web.Models.CreateBookingViewModel;

@{
    ViewData["Title"] = "Create a Booking";
}

<!-- Date/time selector and select menu for user's car -->
<h1>Create a Booking</h1>

<div>
    @{
        if (Model.Customer.Command.ResultType != ResultType.None)            
        {
            if (Model.Customer.Command.Success)
            {
                <div class="alert alert-success" role="alert">
                    @Model.Customer.Command.Message
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @Model.Customer.Command.Message
                </div>   
            }
        }
    }
</div>

<div>
    @{
        if (Model.ParkingSpace.Command.ResultType != ResultType.None)            
        {
            if (Model.ParkingSpace.Command.Success)
            {
                <div class="alert alert-success" role="alert">
                    @Model.ParkingSpace.Command.Message
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ParkingSpace.Command.Message
                </div>   
            }
        }
    }
</div>

<div>
    @if (!Model.ParkingSpace.Query.Success)
    {
        <div class="alert alert-danger" role="alert">
            @Model.ParkingSpace.Query.Message
        </div>
    }
</div>

<div>
    @if (!Model.Customer.Query.Success)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Customer.Query.Message
        </div>
    }
</div>

@{
    if(Model.ParkingSpace.Query.Success)
    {
        var parkingSpace = Model.ParkingSpace.Query.Payload;
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img class="card-img" src="/imageuploads/@Model.ParkingSpace.Query.Payload.Description.ImageURL" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingSpace.Query.Payload.Description.Title</h5>
                        <p class="card-text">Description: @Model.ParkingSpace.Query.Payload.Description.Description</p>
                        <p class="card-text">Hourly Rate: @Model.ParkingSpace.Query.Payload.BookingRate.HourlyRate</p>
                        <p class="card-text">Daily Rate: @Model.ParkingSpace.Query.Payload.BookingRate.DailyRate</p>
                    </div>
                </div>
            </div>
        </div>
    }
}


<form method="post" enctype="multipart/form-data" id="booking-form">
    <div class="form-group">
        <label for="booking-date">Booking Date</label>
        <input type="date" id="booking-date "name="booking-date" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="car-select">Vehicle</label>
        <select name="car-select" class="form-control" id="car-select">
            @{
                if (Model.Customer.Query.Success)
                {
                    if (Model.Customer.Query.Payload.Vehicles.Count == 0)
                    {
                        <option disabled="disabled">No vehicles found</option>
                    }
                    else
                    {
                        foreach (var vehicle in Model.Customer.Query.Payload.Vehicles)
                        {
                            <option value="@vehicle.Id">@vehicle.Model - @vehicle.Registration</option>
                        }
                    }
                }
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
