@model QueryResult<Customer>;

@{
    ViewData["Title"] = "My Vehicles";
}

<div>
    <partial name="_UserProfilePartial"/>
</div>

<h2>My Vehicles</h2>

<div>    
    @{
        if (Model.Success != true)
        {
            <div class="alert alert-danger" role="alert">
                @Model.Message
            </div>
        }
        //else if (Model.PayLoad.Vehicles?.Any() != true)
        {
            <div class="alert alert-info" role="alert">
                It appears you currently have no future bookings planned.
            </div>
        }
        //else
        {
            foreach (var vehicle in Model.PayLoad.Vehicles)
            {
                <p>@vehicle.Registration | @vehicle.Make | @vehicle.Model | @vehicle.Colour</p>
            }
        }     
    }
</div>

<a asp-controller="CreateVehicle" asp-action="Index" class="btn btn-primary float-right">Add new</a>

@section Scripts
{
    <script>
        $("#myVehicles").addClass("active");
    </script>
} 