@using ApplicationServices.Enums
@model Web.Models.ResultViewModel<Customer>

@{
    ViewData["Title"] = "My Bookings";
}

<div>
    <partial name="_UserProfilePartial"/>
</div>

<h2>My Bookings</h2>

<div>
    @{
        if (Model.Command.ResultType != ResultType.None)            
        {
            if (Model.Command.Success)
            {
                <div class="alert alert-success" role="alert">
                    @Model.Command.Message
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @Model.Command.Message
                </div>   
            }
        }
    }
</div>

<div>    
    @*{
        if (!Model.Query.Success)
        {
            <div class="alert alert-danger" role="alert">
                @Model.Query.Message
            </div>
        }
        else if (!Model.Query.Payload.Bookings.FutureBookings.Any())
        { *@
            <div class="alert alert-info" role="alert">
                It appears you currently have no planned future bookings.
            </div> @*
        } 
        else
        {
            foreach (var booking in Model.Query.Payload.Bookings.FutureBookings)
            {
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@booking.ParkingSpace.Address.Street</h5>
                                <p class="card-text">@booking.BookingTime.Day</p>
                            </div>
                        </div>
                    </div>
                </div>
            }  
        }
    } *@
</div>

@section Scripts
{
    <script>
        $("#myBookings").addClass("active");
    </script>
}